body {
    background-color: rgb(0, 0, 0);

}
h1 {
    text-align: center;
    font-family: 'Times New Roman';
    color: white;
    font-size: 100px;
}
h3 {
    font-size: 75px;
    color: white;
}
.paragraph {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px; 
    color: rgb(255, 255, 255);
}
#last {
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
}
span7 { 
    color: rgb(113, 247, 4);
}